#leaveRoomButton {
	float: right;
	margin-top: 20px;
}

#usersListGroup {
	width: 100%;
}

#chatPanel {
	max-height: 400px;
	overflow-y: scroll;
}

#miniHeader {
	margin-top: 0;
	margin-bottom: 10px;
}